header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size:150px;
}
#logo{
    width: 100px;
}

h2{
    color: #808080;
}
thead{
    background-color: #20A9E5;
}

tbody{
    background-color: #B1E5F2;
}

div{
    background-image: url("../img/monitor.jpg");
    width: 300px;
    height: 200px;
}

h4{
    color: aliceblue;
    font-size: 20px;
}
h5{
    background-image: url("../img/graph.jpg");
    width: 300px;
    height: 200px;

}
p{
    color: aliceblue;
    font-size: 20px;
}